* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    background-color: rgb(175, 28, 28);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto !important;
    max-width: 100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.226);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    backface-visibility: blur(100px);
    /* display: hidden !important; */


}
.nav_logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
nav>ul {
    list-style: none;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    width: 100%;
    font-size: 30px;
}

nav>ul li {
    cursor: pointer;
    transform: all 1s ease-in-out;
    text-shadow: rgb(175, 28, 28) 1px 1px 1px;
}

li>a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: all 1s ease-in-out;
    text-shadow: rgb(175, 28, 28) 1px 1px 1px;
}

li>a:hover {
    color: brown;
}

.hero {
    background-image: url('./assets/hero.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 900px;
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.nav_logo:hover {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about_btn {
    background-color: rgb(119, 15, 15);
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    width: 200px;
    margin: auto;
    text-align: center;
    animation: bounce 1s infinite;
    position: absolute;
    bottom: 200px;
    left: 45%;
    transform: translateX(-50%);
    text-transform: uppercase;
    user-select: none;
}

.about_btn>a {
    color: white;
    text-decoration: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* about section */

.about_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;

}

.about_head {
    position: relative;
    height: 100px;
    width: fit-content;
    margin: auto;

}

.about_head h1 {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}

.about_head>.about_img {
    position: absolute;
    top: -70px;
    right: -40px;
    max-height: 120px;
}

.about_content {
    padding: 40px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 20px;
}

.content_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.content_section_child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.image_stack {
    position: relative;
    width: 350px;
    min-width: 350px;
    height: 300px;
    flex: 1;
}

.image_stack img {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
}

.image_top {
    transform: rotate(-5deg) translateY(-10px);
    z-index: 2;
}

.image_bottom {
    transform: rotate(2deg) translateY(10px);
    top: -15px;
    z-index: 1;
}

.image_stack:hover .image_top {
    transform: rotate(0deg) translateY(0);
    top: 0px;
}

.image_stack:hover .image_bottom {
    transform: rotate(0deg) translateY(0);
    top: 0px;
}

.image_section {
    background-color: rgba(0, 0, 0, 0.61);
    background: fixed;
    background-image: url('./assets//deadpool_me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
}

.deadpool_me {
    z-index: -1;
    background-color: black;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.849);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact_section {
    height: 600px;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

footer>span {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}


@media (max-width: 600px) {
    .content_section_child {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
        margin: auto;
    }

    nav {
        display: hidden;
    }
    .nav_logo {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
   
    nav>ul {
        display: hidden;
        font-size: 10px;

    }
    .image_stack {
        position: relative;
        width: 350px;
        min-height: 350px;
        height: 300px;
        flex: 1;
    }
    
    .about_head h1 {
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
    }
    .hero {
        background-image: url('./assets/hero.jpeg');
        background-size: cover;
        background-position: center;
        min-height: 300px;
    }
    
    .overlay2 {
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about_btn {
        bottom: 640px;
        font-size: 10px;
        width: 140px;
        left: 35%;
    }
    .about_head>.about_img {
        position: absolute;
        top: -85px;
        right: -40px;
        max-height: 120px;
    }
    .banner_card {
        position: absolute;
        width: 140%;
        height: 40px;
    }
}

/* banner section */

.banner{
    overflow: hidden;
    overflow-y: visible !important;
}
.banner_section {
    overflow-y: visible;
    position: relative;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.banner_card {
    position: absolute;
    width: 140%;
    height: 100px;
    background-color: white;
    /* background-size: cover; */
    background-position: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: rotate(-5deg);
}

.banner_card_2 {
    background-image: url('./assets/name.jpeg');
    z-index: 2;
    animation: slide 7s linear infinite;

}

.banner_card_1 {
    background-image: url('./assets/dead_sleep.png');
    z-index: 1;
    transform: rotate(5deg);
    animation: slide2 7s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-100px) rotate(-5deg);
    }

    100% {
        transform: translateX(10px) rotate(-5deg);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(10px) rotate(7deg);
    }

    100% {
        transform:  translateX(-100px) rotate(7deg);
    }
}

/* contact section */
.contact_section {
    max-width: 800px;
    margin: auto;
    border: 1px solid gray;
    width: 100%;
    backdrop-filter: blur(50px);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
    border-radius: 20px;
    background-color: black;

}

.contact_section>h2 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    background: rgb(175, 28, 28);
    transform: skew(-20deg);
    margin-top: 10px;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.form>input {
    width: 400px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form>textarea {
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    max-width: 400px;
    max-height: 120px;
    min-height: 100px;
}

.form>button {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(167, 22, 22);
    transform: skew(-20deg);
    color: white;
    cursor: pointer;
}

.contact_btn {
    background: #ff4500;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.contact_btn:hover {
    background: #8b0c0c;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.social_links a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
}